`Data Manipulation`

In [57]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [58]:
homelessness = pd.read_csv('data_files\homelessness.csv')
sales = pd.read_csv('data_files/sales_subset.csv')
temperatures = pd.read_csv('data_files/temperatures.csv')

In [59]:
print(homelessness.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB
None

In [60]:
print(sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   store                 10774 non-null  int64
 1   type                  10774 non-null  object
 2   department            10774 non-null  int64
 3   date                  10774 non-null  object
 4   weekly_sales          10774 non-null  float64
 5   is_holiday            10774 non-null  bool
 6   temperature_c         10774 non-null  float64
 7   fuel_price_usd_per_l  10774 non-null  float64
 8   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(2), object(2)
memory usage: 684.0+ KB
None

In [61]:
print(temperatures.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16500 entries, 0 to 16499
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        16500 non-null  object
 1   city        16500 non-null  object
 2   country     16500 non-null  object
 3   avg_temp_c  16407 non-null  float64
dtypes: float64(1), object(3)
memory usage: 515.8+ KB
None

In [62]:
print(temperatures.iloc[:6])

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547
5  2000-06-01  Abidjan  Côte D'Ivoire      25.812

In [63]:
print(temperatures.iloc[:,2:])

             country  avg_temp_c
0      Côte D'Ivoire      27.293
1      Côte D'Ivoire      27.685
2      Côte D'Ivoire      29.061
3      Côte D'Ivoire      28.162
4      Côte D'Ivoire      27.547
...              ...         ...
16495          China      18.979
16496          China      23.522
16497          China      25.251
16498          China      24.528
16499          China         NaN

[16500 rows x 2 columns]

In [64]:
temperatures.head()

         date     city        country  avg_temp_c
0  2000-01-01  Abidjan  Côte D'Ivoire      27.293
1  2000-02-01  Abidjan  Côte D'Ivoire      27.685
2  2000-03-01  Abidjan  Côte D'Ivoire      29.061
3  2000-04-01  Abidjan  Côte D'Ivoire      28.162
4  2000-05-01  Abidjan  Côte D'Ivoire      27.547

In [66]:
temperatures['date'] = pd.to_datetime(temperatures['date'], errors='coerce')
temperatures["year"] = temperatures["date"].dt.year
print(temperatures)

            date     city        country  avg_temp_c  year
0     2000-01-01  Abidjan  Côte D'Ivoire      27.293  2000
1     2000-02-01  Abidjan  Côte D'Ivoire      27.685  2000
2     2000-03-01  Abidjan  Côte D'Ivoire      29.061  2000
3     2000-04-01  Abidjan  Côte D'Ivoire      28.162  2000
4     2000-05-01  Abidjan  Côte D'Ivoire      27.547  2000
...          ...      ...            ...         ...   ...
16495 2013-05-01     Xian          China      18.979  2013
16496 2013-06-01     Xian          China      23.522  2013
16497 2013-07-01     Xian          China      25.251  2013
16498 2013-08-01     Xian          China      24.528  2013
16499 2013-09-01     Xian          China         NaN  2013

[16500 rows x 5 columns]